
*.tga filter=lfs diff=lfs merge=lfs -text
indochina/gfx/map/terrain/flatmap.dds filter=lfs diff=lfs merge=lfs -text
indochina/gfx/map/water/watercolor_rgb_waterspec_a.dds filter=lfs diff=lfs merge=lfs -text
indochina/gfx/map/surround_map/surround_mask.dds filter=lfs diff=lfs merge=lfs -text