
building_requirement_castle_city_church = {
	trigger_if = {
		limit = { has_holding_type = castle_holding }
		has_building_or_higher = castle_$LEVEL$
	}
	trigger_else_if = {
		limit = { has_holding_type = city_holding }
		has_building_or_higher = city_$LEVEL$
	}
	trigger_else_if = {
		limit = { has_holding_type = church_holding }
		has_building_or_higher = temple_$LEVEL$
	}
	trigger_else_if = {
		limit = { has_holding_type = tribal_holding }
		has_building_or_higher = tribe_$LEVEL$
	}
	trigger_else_if = {
		limit = { has_holding_type = cow_metropolis_holding }
		has_building_or_higher = cow_metropolis_$LEVEL$
	}
	trigger_else = {
		custom_description = {
			text = "building_requirement_castle_city_church_failed"
			always = no
		}
	}
}

building_requirement_tribal = {
	scope:holder = {
		OR = {
			has_government = tribal_government
			has_government = anarchist_government
			has_government = nomadic_government
		}
	}
}
building_requirement_can_build_nomadic_holding = {
	county = {
		any_county_province = {
			has_holding_type = nomadic_holding
		}
	}
	scope:holder = {
		NOT = { has_variable = has_moved_capital }
	}
}

province_has_no_holding_trigger = { # province has no holding
	has_ongoing_construction = no
	NOR = {
		has_holding_type = castle_holding
		has_holding_type = tribal_holding
		has_holding_type = city_holding
		has_holding_type = church_holding
		has_holding_type = nomadic_holding
		has_holding_type = nomadic_holding_empty
	}
}

building_camel_farms_requirement_terrain = {
	OR = {
		terrain = desert
		terrain = desert_mountains
		terrain = oasis
		terrain = floodplains
	}
	geographical_region = world_innovation_camels
}